#player{
    width:5vh;
    height: 5vh;
    background-image: url(img/player.jfif);
    background-size: cover;
    position: absolute;
    margin: 0%;
opacity: 1;
z-index: 100;
}

.block
{
    width: 5vh;
    height: 5vh;
  position: absolute;
  
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  opacity: 1;
  z-index: 30;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
  
}
.block:hover {
    border: solid 2px purple;
    box-sizing: border-box;
 }
.blockfloor
{
    width: 5vh;
    height: 5vh;
    border: 0;
  position: absolute;
  image-rendering: crisp-edges;
  image-rendering: pixelated; 
  background-size: cover;

 z-index: 20;
    opacity: 0.6;
}
.blockfloor:hover {
    border: solid 2px purple;
    box-sizing: border-box;
 }
.air{
    box-shadow: none;
}

.stone{
background-image: url("img/stone.png");

}
.sponge{
    background-image: url("img/sponge.png"); 
}
.snow{
    background-image: url("img/snow.png");
}
#blocksSelector{
    width: 30vh;
    padding: 0;
    height: 60vh;
    display: block;
    float: right;
  border: solid red 1px;

}
#editmode{
    width: 41vh;
    padding: 0;
    height: 60vh;
    display: none;
    float: right;
  border: solid red 1px;
}
.blockselector
{
    margin: 0;
    padding: 0;
    width: 5vh;
    height: 5vh;
    display: block;
    float: left;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated; 
  background-color: gray;
}
#map{
    position: absolute;
    background-color: black;
   left: 3px;
   top: 1px;
    z-index: 0;
}

#fill3x3{
    background-image: url(img/3x3.png);
    background-color: red;
    width: 10vh;
    height: 10vh;
 
}
#fillHorizontalLine{
    background-image: url(img/horizontalLine.png);
    background-color: red;
    width: 10vh;
    height: 10vh;
   
}
#fillVericalLine{
    background-image: url(img/verticalLine.png);
    background-color: red;
    width: 10vh;
    height: 10vh;
  
}
.cactus{
    background-image: url(img/cactus_top.png);
}
.obsidian
{
    background-image: url(img/obsidian.png);
 
}
#floormode
{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    display: block;
    float: left;
    font-size: 5vh;
    background-color: red;
}
#randomfill
{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    display: block;
    float: left;
    font-size: 4vh;
    background-color: green;

}
#switchmode{
    margin: 0;
    padding: 0;
    width: 20vh;
    height: 10vh;
    position: absolute;
    right: 3vh;
   bottom: 3vh;
    font-size: 4vh;
    
}
#exportMap,
#saveMap{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    display: block;
    float: left;
    font-size: 4vh;
}

#mapsGui{
    width: 120vh;
    height: 50vh;
    position: absolute;
    top: 5vh;
    left: 5vh;
    display: none;
    background-color: gray;
}
.mapGuiButton{
    width: 5vh;
    height: 5vh;
    margin: 0.5vh;
    float: left;
    display: inline;
}
.mapGuiRow{
    width: 100%;
    height: 6vh;
    
}
#openMaps
{
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    display: block;
    float: left;
    font-size: 4vh;
}
#hotbar{
    position: absolute;
    bottom: 1vh;
    border-radius: 1vh;
    left: 20vh;
    background-color: rgb(167, 167, 167);

    height: 8vh;
    padding: 1vh;
    width: 76vh;
    z-index: 999;
    border: inset 1.5vh gray;

}
.guiSlot{
    display: inline;
    float: left;
    width: 7vh;
    margin: 0.5vh;
    height: 7vh;
    border: inset 0.2vh gray;
    position: relative;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated; 


}
.itemamount{
    position: absolute;
    bottom: 0.2vh;
    right: 0.2vh;
    font-size: 3vh;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#inventory{
    top: 18vh;
    width: 76vh;
    height: 24vh;
    background-color: rgb(167, 167, 167);
    display: none;
    position: absolute;
    left: 20vh;
    padding: 1vh;
    z-index: 1000;
   
    border: inset 1.5vh gray;
    border-bottom: inset 1vh gray;
}










.glass
{
    background-image: url(img/glass.png);
}
.tnt{
    background-image: url(img/tnt_side.png);
}
.ironOre{
    background-image: url(img/iron_ore.png);
}
.coalOre{
    background-image: url(img/coal_ore.png);
}
.redstoneOre{
    background-image: url(img/redstone_ore.png);
}
.diamondOre{
    background-image: url(img/diamond_ore.png);
}
.grass{
    background-image: url(img/grass_top.png);

}
.leavesoak{
    background-image: url(img/leaves_oak.png);
}
.stoneslab{
    background-image: url(img/stone_slab_top.png);
}
.greenwool{
    background-image: url(img/wool_colored_green.png);
}
.grassPlant{
    background-image: url(img/double_plant_grass_top.png);
    box-shadow: none;
}
